@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@model List<IdentityRole>
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = "Show";
}

<h1>Show</h1>

<div class="row mb-3">
    <div class="col-sm-12">
        <div class="form-inline pull-right">
            <a class="btn btn-primary" asp-action="New" asp-controller="Role"> NewRole</a>
        </div>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var role in Model)
        {
            
                @*<partial name="_RoleTablePartial" model="role"/>*@
            <tr>
                <td>@role.Name</td>
                @if (AuthorizationService.AuthorizeAsync(User, "Permissions.RoleController.Edit").Result.Succeeded)
                {
                    <td scope="row" width=10%> <a class="btn btn-secondary px-4" asp-action="Edit" asp-route-id="@role.Id">Edit</a> </td>
                }
                @if (AuthorizationService.AuthorizeAsync(User, "Permissions.RoleController.Delete").Result.Succeeded)
                {
                    <partial name="_DeleteConfirmationModal" model="role"/>
                    <td scope="row" width=10%> <a class="btn btn-danger px-4" data-toggle="modal" data-target="#popup_@role.Id">Delete</a> </td>  
                }
            </tr>
            
        }

    </tbody>
</table>